div(style='min-height:100px')
#contact(calss='hero vh-100 d-flex align-items-center')
  .container
    .row
      .col-lg-7
        h1 Contact
            h3 Hello World
            p
                | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam illum repellat, a, enim necessitatibus maxime tenetur facilis accusamus consectetur veritatis similique nemo optio neque quis rerum at. Blanditiis, labore adipisci.
            h3 Hello World
            p
                | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam illum repellat, a, enim necessitatibus maxime tenetur facilis accusamus consectetur veritatis similique nemo optio neque quis rerum at. Blanditiis, labore adipisci.lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam illum repellat, a, enim necessitatibus maxime tenetur facilis accusamus consectetur veritatis similique nemo optio neque quis rerum at. Blanditiis, labore adipisci. ipsum dolor sit amet consectetur adipisicing elit. Tempore esse repellendus consectetur ducimus doloremque perferendis ratione pariatur praesentium cupiditate fuga officia, reiciendis, ipsam aspernatur iure enim minima sapiente quaerat in?
            p
                | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio nihil cum facilis dicta autem voluptatem modi voluptate voluptates dolore consequatur, dolorem mollitia eveniet delectus facere nisi rerum laborum eum saepe!Dolorum sint quae adipisci non assumenda incidunt harum, nobis blanditiis eos corporis quos nulla, aspernatur nisi rerum deleniti fugiat, ipsa aut tempora veritatis? Aspernatur optio delectus quae facilis reiciendis saepe?Dolores sed, aspernatur labore vel nemo libero non porro! Sequi, aut est quis asperiores id vitae ullam atque, dolore nisi ipsum natus nam alias beatae sapiente maiores minima ducimus eveniet.Aspernatur illo mollitia nam beatae impedit perferendis, 