.container
  footer.d-flex.flex-wrap.align-items-center.py-3.my-4.border-top
    .col-md-4.d-flex.align-items-center
      span.text-muted &copy; 2022 Created by Wanting Yen
      
      //- Icons
    .row.row-cols-auto.col.justify-content-end
      a.icon(href='https://twitter.com/?lang=en' style='padding-right: 10px;padding-left: 10px')
        i.bi.bi-twitter(style='font-size: 2rem; color: #00acee;')
      a.icon(href='https://www.facebook.com' style='padding-right: 10px;padding-left: 10px')
        i.bi.bi-facebook(style='font-size: 2rem; color: #4267B2;')
      a.icon(href='https://www.instagram.com/?hl=en' style='padding-right: 10px;padding-left: 10px')
        img(src='./img/instagram.png' width='30' height='30')
      
      //-i.bi.bi-instagram(style='font-size: 2rem; color: #E1306C;')



