//h1 #{pageHeader}
div(style='min-height:100px')
#home(calss='hero vh-100 d-flex align-items-center')
  .container
    .row.flex-lg-row-reverse.align-items-center.g-5.py-4.mb-4
      .col-12.col-lg-6
        img.d-block.mx-lg-auto.img-fluid(src='/img/homepage.jpg' width='3995' height='5993' loading='lazy' alt='Dessert World')
      .col-lg-6(class='col=12')
        h3.display-6.fw-bold.mb-4   Enjoy the Little Things in Life
        p.lead
          | A food blog dedicated to baking and unleashing your creativity in the kitchen. Do you struggle with making bright red buttercream frosting? You’re not alone! Learning how to make red frosting that’s actually red and not pinkish red can be a challenge, but we’re up for the task!    
        a.btn.btn-secondary(href='/recipes') Explore Recipes



        
        
        
//- div#bg
            if isAuthenticated 
                p.authorized| user granted access 
            else 
                p.unauthorized| user unauthorized
//-
 <div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4">
    <div class="col-12 col-lg-6">
      <img src="/img/homepage.jpg" width="3995" height="5993" class="d-block mx-lg-auto img-fluid" Loading="lazy" alt="Dessert World">
    </div>

    <div class="col=12 col-lg-6">
      <h1 class="display-5 fw-bold mb-3"> Dessert World </h1>
      <p class="lead">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam illum repellat, a, enim necessitatibus maxime tenetur facilis accusamus consectetur veritatis similique nemo optio neque quis rerum at. Blanditiis, labore adipisci.lorem
      </p>
