div(style='min-height:100px')
#about(calss='hero vh-100 d-flex align-items-center')
  .container
    .row
      .col-lg-7
        h1 About
        
        p
          | Hi, and welcome! Welcome to Dessert World
        p
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum saepe aut minus incidunt alias adipisci ratione deleniti delectus atque nisi omnis et molestias possimus minima, tempora fuga, necessitatibus, quasi libero!
        p 
          | I hope we’ll only go forward from here. Happy Baking readers!
